{% extends 'base.html' %}
 {% block title %}Update the Task{% endblock title%}

 {% block body %} 

<div class="container my-2">
<h2>Update Your Work</h2>
<form action="/update/{{task.sno}}/" method="POST">
{% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Title</label>
    <input type="text" class="form-control" name="title" value={{task.title}} >

  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Description</label>
    <input type="text" class="form-control" name="desc" value={{task.desc}} >
  </div>
  
  <button type="submit" class="btn btn-primary">Update</button>
</form>

 {% endblock body%}